<nav class="navigation" aria-label="Main navigation">
  <a routerLink="/home" routerLinkActive="active"> Home </a>
  <a routerLink="/fitness" routerLinkActive="active"> Fitness helper </a>
  <a
    href="https://gyr-dun.vercel.app/"
    target="_blank"
    rel="noopener noreferrer"
  >
    Shopping planner
  </a>
  <a routerLink="/holiday" routerLinkActive="active"> Holiday planner </a>
  <a routerLink="/user" routerLinkActive="active"> User </a>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
