<main class="container">
  <div class="container-box">
    <section class="home">
      <h1>Welcome to my portfolio page</h1>
      <p>
        This is my personal portfolio where I showcase my projects and skills,
        and I also use it as my personal toolbox. Feel free to explore and learn
        more about my work.
      </p>
    </section>
    <section class="about">
      <h2>About Me</h2>
      <p>
        I am a software developer with a passion for creating innovative
        solutions. I have experience in various programming languages and
        frameworks, and I enjoy working on both frontend and backend
        development.
      </p>
    </section>
  </div>
  <div class="container-box">
    <section class="projects">
      <h2>Projects</h2>
      <p>Here are some of the projects I have worked on:</p>
      <app-project-carousel></app-project-carousel>
    </section>
    <section class="skills">
      <h2>Skills</h2>
      <p>Here are some of my techstack:</p>
      <ul></ul>
    </section>
  </div>
</main>
